@import "_varibles.scss";

/*主體架構*/
@mixin box-sizing(){
  box-sizing: border-box;
}
@mixin max-width-1180(){
  max-width: 1180px;
  margin: 0 auto;
}
/*常用樣式*/
@mixin text-d-none(){
  text-decoration: none;
}
/*flex常用方法*/
@mixin d-flex(){
  display: flex;
}
@mixin d-none(){
  display: none;
}
@mixin flex-justify-bt(){
  align-items: center;
  justify-content:space-between; 
}
@mixin flex-align-center(){
  align-items: center;
}
@mixin flex-justify-center(){
  justify-content: center;
}
@mixin flex-center(){
  justify-content: center;
  align-items: center;
}
@mixin flex-align-end(){
  align-items: flex-end; 
}
@mixin flex-colum(){
  flex-flow: column
}
/*背景圖片*/
@mixin bg-no-repeat(){
  background-position: center;
  background-repeat: no-repeat;
}
/*文字*/
@mixin text-line-none(){
  text-decoration: none;
}
@mixin font-bold(){
  font-weight: bold;
}
@mixin title-h($i){
  @if($i == 1){
    font-size: $fontSize * 2.5 + px ;
  }
  @else if($i == 2){
    font-size: $fontSize * 2 + px ;
  }
  @else if($i == 3){
    font-size: $fontSize * 1.75 + px ;
  }
  @else if($i == 4){
    font-size: $fontSize * 1.5 + px ;
  }
  @else if($i == 5){
    font-size: $fontSize * 1.25 + px ;
  }
  @else if($i == 6){
    font-size: $fontSize * 1 + px ;
  }
}
/*文字至中*/
@mixin text-center(){
  text-align: center;
}
/*文字隱藏*/
@mixin text-hide(){
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}