$fontSize: 16px;
$paimary: #007bff;
$blue: #007bff;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$pink: #e83e8c;
$danger: #dc3545;
$block: #000000;
$orange: #fd7e14;
$gray: #6c757d;
$secondary: #6c757d;
$white: #ffffff;

/*網頁自訂顏色*/
$hex-green :#00cc99;
$sun:#FDDAA4;
$coffee:#93433C;
$small-title:#7A7A7A;
$table-titlecolor:#bbbbbb;
$table-bgcolor:#DADADA;
/*透明色*/
$rgba-40-black:rgba(0,0,0,0.4);
