@import "_resert.scss";
@import "_varibles.scss";
@import "_mixins.scss";

body{
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}
* {
  @include  box-sizing;
}
/*layout*/
.wrap{
  @include max-width-1180;
  padding-left: 15px;
  padding-right: 15px;
}
.focus{
  color: $coffee;
  font-weight: bold;
}
/*header*/
.header{
  background-image: url("../img/slide.jpg");
  background-position: center;
  height: 500px;
  position: relative;
  .top-menu{
    background-color: $rgba-40-black;
    height: 100px;
    @include flex-justify-bt;
    box-shadow: 1px 1px 5px $sun;
  }
  .logo h1{
      background-image: url("../img/logo-title.png");
      @include bg-center;
      width: 200px;
      height: 80px;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
  }
  .menu{
      padding: 0 20px;
  }
  .menu ul{
        @include d-flex;
  }
  ul li a{
      @include text-line-none;
      color: $white;
      padding: 20px;
      font-size: 24px;
      display: block;
      border-radius: 4px;
      &:hover{
        background-color: $white;
        color: $coffee;
      }
  }
  h3{
    color: $white;
    font-size: 32px;
    line-height: 50px;
    text-shadow: 1px 1px 5px $block;
  }
  h3 strong{
    color: $coffee;
    font-weight: bold;
    margin-left: 20px;
    letter-spacing: 10px;
    text-shadow: 1px 1px 4px $white;
  }
  .banner-title{
    display: block;
    width: 50%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 20%;
  }
 .banner-title a{
    display: inline-block;
    text-decoration:none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    background-color: $coffee;
    border-radius:4px;
    padding: 20px;
    margin-top: 20px;
    transition: all 0.5s;
    &:hover{
      letter-spacing: 5px;
      border-radius:20px; 
    } 
  }
  .banner-title i{
    margin-left: 10px;
  }
} 
/*footer*/
.footer{
  @include flex-justify-bt;
  background-color: $block;
  padding: 0 15px;
  h2{
    background-image: url("../img/logo-title.png");
    @include bg-no-repeat;
    width: 200px;
    height: 80px;
    @include text-hide;
  }
  .copyright{
    color: $white;
  }
  .icon-box{
    padding: 0 20px;
  }
  .icon-box a{
    padding: 0 10px;
    display: inline-block;
  }
}
/*veiwpoint*/
.veiwpoint{
  margin: 20px 0;
  .veiwpoint-head{
    @include flex-justify-bt;
  }
  .veiwpoint-title{
    @include flex-align-end;
  }
  .veiwpoint-title h3{
    @include fontSize ;
    font-weight: bold;
    color: $coffee;
  }
  .veiwpoint-title small{
    margin-left: 20px;
    font-size: 16px;
    color: $small-title;
  }
  .veiwpoint-more a{
    text-decoration: none;
    color: $coffee;
    font-weight: bold;
    border: 2px solid $coffee;
    border-radius: 10px;
    padding: 10px;
    &:hover{
      color: $white;
      background-color: $coffee;
    }
  }
  .veiwpoint-content{
   @include flex-justify-bt;
    margin: 20px 0;
  }
  .veiw-card{
    box-shadow: 1px 3px 15px $small-title;
    text-align: center;
    padding: 20px 15px;
    border-radius:4px; 
    img{
      border-radius:50%; 
    }
    h4{
      font-size: 16px * 1.5;
      margin: 20px 0;
      font-weight: bold;
    }
    p{
      line-height: 36px;
      text-align: left;
    }
    &:hover{
      box-shadow: 1px 3px 15px $block;
    }
  }
  .veiw-card + .veiw-card{
    margin-left: 20px;
  }
}
/*compare*/
.compare{
  margin: 20px 0;
}
.compare-title{
  @include flex-align-end;
  h4{
    font-size: 16px * 2;
    font-weight: bold;
    color:$coffee;
  }
  small{
    margin-left: 20px;
    color:$small-title;
  }
}
.compare-body{
  table{
    width: 100%;
    margin: 20px 0; 
  }
  thead{
    background-color: $table-titlecolor; 
    th{
      padding: 20px;
      font-weight: bold;
    }
  }
  tbody{
    th{
      padding: 20px;
    }
    tr{
      &:hover{
        background-color: $table-bgcolor;
      }
      border-bottom:4px dotted $table-bgcolor; 
    }
  }
}
/*connect*/
.connect{
 @include flex-center;
  height: 500px;
  background-color: $table-bgcolor;
  margin: 20px 0;
  h4{
    text-align: center;
    width: 50%;
    font-size: $fontSize * 1.75;
    font-weight: bold;
  }
  h4 strong{
    margin: 0 2%;
    font-weight: bold;
    color: $coffee;
  }
  .connect-form{
    width: 40%;
    margin: 0 auto;
  }
  .connect-form input{
    display: block;
    width: 100%;
    padding-left:10px;
    height: 40px;
    border: 0;
    border-radius: 4px;
    &:nth-child(2){
      margin-top:10px; 
    }    
  }
  .form-group{
    float:right;
    margin-top: 10px;
  }
  .form-group button{
    border: 1.5px solid $coffee;
    border-radius:4px; 
    font-size: $fontSize * 1.25;
    font-weight: bold;
    color: $coffee;
    height: 30px;
    width: 120px;
    &:hover{
      background-color: $coffee;
      color:$white;
    }
  }
}
